{% extends "base.html" %}


{% block main %}
{% include 'flashes_messages.html' %}

<div class="jumbotron">
    <h1>Properties</h1>
    <div class = 'properties-grid'>
      {% for property in properties %} 
          <div class = "properties-card">
            <img class ='property-img' src = "{{ url_for('fetchImage', filename= property.photo) }}" alt ="Picture">
              <div class="p-title"> {{property.title}} </div>
              <div class="p-location">{{property.location }} </div>
              <div class="p-price">{{property.price }}</div>
              <br>
              <button type="submit" class="view-property-btn" > <a href="{{url_for('singleProperty', propertyId = property.id)}}" >View Property</a></button>

          </div>
      {%endfor%}
  </div>
</div>
{% endblock %}
