{% extends "base.html" %}


{% block main %}
{% include 'flashes_messages.html' %}

<div class="jumbotron">
  <div class="container">
    <h1 class="header">Properties</h1>
    <div class = 'properties'>
      {% for property in properties %} 
          <div class = "propertytiles">
              {{property.title}}
              {{property.location}}
              {{property.price}}
              <img class ='propertyImg' src = "{{ url_for('fetchImage', filename= property.photo) }}" alt ="Picture">
          </div>
          <button class="btn" type="submit"><a href="{{url_for('singleProperty', propertyId = property.id)}}" >View Property</a></button>
      {%endfor%}
  </div>
  </div>
</div>
{% endblock %}
