{% extends "base.html" %}

{% block main %}

{% include 'flashes_messages.html' %}

<div class="jumbotron">
  <div class="container">
    <h1 class="header">Single Property</h1>
    <div class = "properties">
          {{properties.title}}
          {{properties.propertyDesc}}
          {{properties.NoOfBedrooms}}
          {{properties.NoOfBathrooms}}
          {{properties.price}}
          {{properties.propertyType}}
          {{properties.location}}
          <img class ='propertyImg' src = "{{ url_for('fetchImage', filename= properties.photo) }}" alt ="Picture">

      </div>
      <button class="btn" type="submit">Email Realtor</button>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.min.js') }}" charset="utf-8"></script>
{% endblock %}
