{% extends "base.html" %}

{% block main %}

{% include 'flashes_messages.html' %}

<div class="jumbotron">
    <h1>Single Property</h1>
    <div class = "single-property-grid">
      <img class ='s-image' src = "{{ url_for('fetchImage', filename= properties.photo) }}" alt ="Picture">
        <div class = property-details>
          <div class="s-title"> {{properties.title}} </div>

          <div class="s-row">
            <div class="s-price"> {{properties.price}} </div>
            <div class="s-type">{{properties.propertyType}} </div>
          </div>
          <div class="s-description"> {{properties.propertyDesc}}</div>

          <div class="s-row">
          <div class="s-rooms"> <span>Bedrooms: </span> {{properties.NoOfBedrooms}} </div>
          <div class="s-rooms"> <span>Bathrooms: </span> {{properties.NoOfBathrooms}} </div>
          </div>

          <div class="s-location"> <span>Location: </span> {{properties.location}} </div>
          <button class="email-btn" type="submit">Email Realtor</button>
        </div>  
      </div>
</div>
{% endblock %}

